<!DOCTYPE html>
<html>
<head>
    <title>Smart Food Delivery System</title>
</head>
<body>
    <h1>Welcome to Smart Food Delivery System</h1>
    <ul>
        <li><a href="{% url 'food_list' %}">View Food Items</a></li>
        <li><a href="{% url 'food_add' %}">Add Food Item</a></li>
        <li><a href="{% url 'order_create' %}">Place Order</a></li>
        <li><a href="{% url 'order_list' %}">View Orders</a></li>
    </ul>
    <footer>
        <p>Student ID: 23CE023</p>
        <p>Jaymeen Devatka</p>
    </footer>
</body>
</html>
